default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check .
        language: system
        types: [python]

      - id: ruff-format
        name: ruff-format
        entry: ruff format .
        language: system
        types: [python]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        additional_dependencies:
          - "django-stubs[compatible-mypy]"
          - "python-dotenv"
          - "PyJWT==2.10.1"
          - "psycopg2-binary==2.9.9"
          - "whitenoise"
          - "django-cors-headers"
          - cloudinary
          - django-cloudinary-storage
          - types-requests
        args: [--config=pyproject.toml, --explicit-package-bases]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--verbose]

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        name: isort
        args: ["--profile=black"]
        types: [python]
